<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    <main>
        <div>
            <h1>Sobre mim</h1>
            <p>Oi, sou Thaís Silva, desenvolvedora front-end</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>